<!DOCTYPE html>

<html>
<head>
<!--
	The appropriate headers should be included by
	a seperate file for the header declarations
-->
<include href="{{@head}}"></include>
</head>
<body>
<!--
	The body should be seperated into chunks so as not to make it difficult 
	So that the different parts can be loaded as needed. Think in the style of angular js.
-->
<header id="main-header">
<include href="{{@mainnav}}"></include>
</header>

<section id="main-section">

</section>

<footer id="main-footer">
<include href="{{@foot}}"></include>
</footer>
<script>
	
</script>
</body>
</html>
