<!DOCTYPE html>
<html>
<head>
	<include href="{{@head}}"></include>
</head>
<body>
<header id="main-header">
<include href="{{@mainnav}}"></include>
</header>

<section id="main-section">

<div class="w3-center">
	<h3>Enter Credentials</h3>
	<form action="{{@login}}" method="post">
		<p>
			<input type="email" name="username"></input>
			<label for="username">username</label>
		</p>
		<p>
			<input type="password" name="password"></input>
			<label for="password">password</input>
		</p>
		<button type="submit">Login</button><a href="{{@reset}}" class="w3-tiny">forgot password</a>
	</form>
</div>

</section>

<footer id="main-footer">
	<include href="{{@foot}}"></include>
</footer>
</body>
</html>
